* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  text-align: center;
  font-family: "Prompt", sans-serif;
  color: #424242;
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
} */

.nav {
  background-color: #2f004f;
  min-height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* display: flex;
  justify-content: right; */
}

.nav ul {
  padding-top: 30px;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 20px;
}

:target:before {
  display: block;
  height: 300px;
  margin-top: -300px;
  content: "";
}

.nav li {
  margin: 0px;
  text-align: left;
  padding-bottom: 15px;
}

li {
  display: inline-block;
  margin: 30px 30px;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: white;
  font-size: 16px;
}

nav a:hover {
  color: #fc4445;
}

header {
  background-color: white;

  margin-top: 100px;
  height: 200px;
}

.header {
  font-weight: bold;
  padding-top: 70px;
  color: #424242;
  font-size: 30px;
}

.splash {
  width: 50%;
  background-color: #fc4445;
  /* display: inline-block; */
  display: inline;
  padding: 5px 20px;
  border-radius: 20%;
  color: #424242;
  font-size: 15px;
}

section {
  min-height: 200px;
  min-width: 320px;
}

.container h2 {
  background-color: #f8e891;
  font-size: 25px;
  color: #424242;
  padding: 20px 20px 0;
}

.bold {
  font-weight: bold;
}

.projects {
  min-height: 400px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f8e891;
  /* width: 100%; */
}

.project-detail {
  text-align: center;
  max-width: 300px;
  margin: 20px 20px;
}

.project-detail a {
  color: #fc4445;
  margin: 10px 20px;
  font-weight: bold;
}

.project-detail p {
  text-align: left;
}

.italic {
  font-style: italic;
}

.about {
  background-color: white;
  padding: 30px;
  color: black;
}

.about h2 {
  font-size: 25px;
}

.about p {
  text-align: left;
}

.contact {
  background-color: #2f004f;
  padding: 30px;
  color: white;
  font-size: 25px;
}

.contact h2 {
  color: white;
  font-size: 25px;
}

.contact a {
  color: white;
}

@media screen and (min-width: 425px) {
  .nav ul {
    flex-direction: row;
  }

  .nav li {
    margin: 10px;
  }

  .header {
    font-size: 40px;
    padding-top: 45px;
  }

  .about {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 750px) {
  header {
    height: 200px;
  }
  .header {
    font-size: 50px;
  }
  .splash {
    font-size: 20px;
  }

  .nav ul {
    padding-top: 30px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }
}
